body{
    font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
    background-color: rgb(24, 24, 24);
}

.header{
    font-size: 24px;
    display: flex;
    flex-direction: row;
    padding: 16px;
    justify-content: space-around;
    background-color: rgb(24,24,24);
    color: aliceblue;
    gap:500px;
}

.hero{
    background-color: rgb(2, 0, 141);
    color: aliceblue;
    padding: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-start;
    padding-left: 104px;
    gap: 24px;
}

.main{
    display: flex;
    flex-direction: column;
    padding: 32px;
    justify-content: center;
    align-items: flex-start;
    padding-left: 104px;
}

a{
    font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
    text-decoration: none;
    color:rgb(255, 255, 255);
}

button{
    font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
    border:0px;
    font-size: 24px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: rgb(24,24,24);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
